.nav {
    grid-area: n;
    background-color: #1e4a3c;
  }

  .item {
    color: #fff;
  }

  .active {
    color: gold;
  }

  a {
    text-decoration: none;
  }
  a:visited {
    color: #d4d4d4;
    
  }