.nav {
  grid-area: n;
  padding: 10px;
  text-align: center;
}

.item {
  padding: 5px;
}

.item:hover {
  background-color: #ffffff;
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: #606060;
  background-color: transparent;
  
}

a:visited {
  color: #606060;
}


.active {
  color: gold;
}